# Turn mod_rewrite on                                                           
RewriteEngine On                                                                
RewriteBase /                                                                   
RewriteCond %{REQUEST_URI} !/php/                                               
RewriteRule .* /php/$1    